
.logo {
 text-align: center;
 margin-bottom: 20px;
}

.logo  img  {
  display: inline-block;
  width: 200px;
 }
.auth_wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
    height: 100vh;

  }
  .auth_inner {
    width: 500px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }
  .auth_wrapper .form-control:focus {
    border-color: #167bff;
    box-shadow: none;
  }
  .auth_wrapper h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  .custom-control-label {
    font-weight: 400;
  }
  .forgot-password,
  .forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
  }
  .forgot-password a {
    color: #167bff;
  }


  .input {
    height: calc(1.5em + 1.875rem);
    padding: 0.875rem 1.09375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: 0.0625rem solid #e7eaf3;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: block;
    width: 100%;
  }


  .submit_button {   
      color: #fff;
      background-color: #01684B;
      border-color: #01684B;
      padding: 0.875rem 1.09375rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3125rem
  
  }