.container{
    max-width: 1194px !important;
}
a{
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.custom_btn {
    z-index: 1;
    line-height: 1;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 18px 45px;
    position: relative;
    align-items: center;
    display: inline-flex;
    letter-spacing: 0.5px;
    justify-content: center;
    background-color: #4e97fd;
    text-decoration: none;
    transition: all 0.2s ease;
}

.custom_btn:hover {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    
}
