.catagoryItem  {
    width: 150px !important;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    padding: 10px ;
    border-radius: 5px;
   
}
.catagoryItem  img {
    display: inline-block;
    border-radius: 20px;
    width: 100%;
}

.catagoryItem  .text {
    text-align: center;
    padding: 5px 0;
}

.catagoryItem h4 {
     font-size: 18px;
     text-align:  center;

}