.textPrimary{
    color:#03674B;
}
.fixedHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #ffffff;
}
.headerPlaceholder{
    height: 37px;
    width: 100%;
}
.navPlaceholder{
    height: 68px;
    width: 100%;
}
.headerTopNav{
    background: #EEF4F2;
    padding: 8px 0;
}
.btnLink{
    color:#03674B;
    text-decoration: none;
    font-weight: 500;
}
.headerTopNav .btnLink{
font-size: 14px;
}
.navbar{
    position: unset !important;
}
.navbar .navLink a{
    color:#2e2e2e;
    font-weight: 600;
    margin-right: 14px;
}
.searchBox{
    background-color: #E4EAEE;
    border-radius: 6px;
}
.navContainer{
    box-shadow: 4px 4px 8px rgba(0,0,0,.1);
}
.navContainer .menuHamBurger:focus{
    box-shadow: none !important;
}
@media only screen and (max-width:769px){
    .navContainer .navLink{
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
        background-color: #E4EAEE;
        padding: 5px 25px;
    }
    .navPlaceholder{
        height: 61px;
        width: 100%;
    }
}